.footer {
  padding: 40px 10%;
  background: #0b0b0b;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;

  color: white;
}

.footer h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.footer p {
  color: #a5a5a5;
  margin-bottom: 20px;
}

.footer span {
  color: #777;
  font-size: 0.9rem;
}
