.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  padding: 25px 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(15, 15, 15, 0.7);

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.logo span {
  color: #d4af37;
}

.nav-links {
  display: flex;
  gap: 40px;

  list-style: none;
}

.nav-links a {
  color: #d9d9d9;

  text-decoration: none;

  font-size: 1rem;

  transition: 0.3s;

  position: relative;
}

.nav-links a:hover {
  color: white;
}

.nav-links a::after {
  content: "";

  position: absolute;

  width: 0%;
  height: 2px;

  background: #d4af37;

  left: 0;
  bottom: -8px;

  transition: 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;

  color: white;

  font-size: 1.7rem;

  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;

    top: 90px;
    right: -100%;

    width: 250px;

    flex-direction: column;

    background: rgba(15, 15, 15, 0.95);

    padding: 40px;

    border-radius: 20px;

    transition: 0.4s;

    gap: 30px;
  }

  .nav-links.active {
    right: 8%;
  }
}
